
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: none; */
  font-family: 'Lato', sans-serif;
}


h4{
  text-align: center;
  font-family: sans-serif 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
  color: rgb(255, 255, 255);
}


header{
  background-image: linear-gradient(
      to right bottom,rgba(4, 0, 255, 0.438), 
      rgba(5, 9, 73, 0.979)), url(/img/images.jpeg);
  background-position: center;
  height: 15vh;
  background-size: cover;
  color: white;
  text-align: center;
}

.main-header-text{
  font-weight: 300;
  display: block;
  font-size: 25px;
  padding-top: 15px;
}
.sub-header-text{
  font-weight: 200;
  display: block;
  font-size: 20px;
  padding-top: 10px;

}


/* .wrapper{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
} */

.wrapper{
  width: 70%;
  margin: 0 auto;
}
.contain{
  background-color: #39b7dd;

}
.contact-form{
  display: flex;
  min-width: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.877);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields,
.msg{
  width: 70%;
}

.input-fields .input,
.msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

.msg textarea{
  height: 150px;
}

::placeholder {
  color: #c5ecfd;
}
.btn {
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 800px){

  .contact-form{
    flex-direction: column;
  }
  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
}


footer{
    background: rgba(11, 24, 211, 0.767);
    padding: 10px 10px;
    border-radius: 4px;
    margin-top: 100px;
    
}
.footer-name{
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.text a{
    text-decoration: none;
    color: #fff;
}

.fonts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.yahoo{
    color:skyblue
}
.facebook{
    color: blue;
}
.twitter{
    color: #fff;
}
.instagram{
    color: palevioletred;
}

@media screen and (min-width:800px){
    body{
        width:95%;
        margin-left: auto;
        margin-right: auto;
    }
}