.about-us-para{
    box-shadow: 0 0 10px black;
    margin: 35px 50px;
    padding: 40px;
}
main{
    margin-top: 50px;
    text-align: center;
    letter-spacing: 1px;
}

@media screen and (min-width:800px){
    .about-us-para{
        margin-left: 50px;
        margin-right: 50px;
    }
    main{
        margin-top: 50px;
        text-align: center;
        letter-spacing: 1px;
        font-size: 18px;
    }
    body{
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}


